Repository Azure/telescope, changes with the owners that CODEOWNERS names for each.
All owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira, @fuweid, @xinWeiWei24, @vittoriasalim, @wonderyl

CODEOWNERS:

* @alyssa1303 @anson627 @sumanthreddy29 @rafael-mendes-pereira

# CCP pipelines
/pipelines/perf-eval/API\ Server\ Benchmark/ @fuweid @xinWeiWei24 @vittoriasalim @wonderyl @alyssa1303 @anson627 @sumanthreddy29 @rafael-mendes-pereira
/pipelines/perf-eval/Scheduler\ Benchmark/ @fuweid @xinWeiWei24 @vittoriasalim @wonderyl @alyssa1303 @anson627 @sumanthreddy29 @rafael-mendes-pereira
/scenarios/perf-eval/apiserver-*/ @fuweid @xinWeiWei24 @vittoriasalim @wonderyl @alyssa1303 @anson627 @sumanthreddy29 @rafael-mendes-pereira
/scenarios/perf-eval/job-scheduling/ @fuweid @xinWeiWei24 @vittoriasalim @wonderyl @alyssa1303 @anson627 @sumanthreddy29 @rafael-mendes-pereira

Revert "Skip deleting resource for debugging" (#691)
  steps/cleanup-resources.yml
  steps/terraform/run-command.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Add v3 of same size as v6 to pod-to-pod scenario (#683)
  pipelines/perf-eval/Network Benchmark/pod-to-pod-diff-node-same-zone-same-cluster.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Update Azure login with client Id (#687)
  steps/cloud/azure/login.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Update format to align with internal result (#664)
  modules/python/iperf3/iperf3_pod.py
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Using API-Server-Higher-CPU-Cores variable to run in 32-core underlay
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Update API server benchmark 100 nodes 3k pods (#685)
  pipelines/perf-eval/API Server Benchmark/apiserver-benchmark-virtualnodes100-pods3k.yml
  scenarios/perf-eval/apiserver-vn100pod3k/terraform-inputs/gcp.tfvars
  scenarios/perf-eval/apiserver-vn100pod3k/terraform-test-inputs/gcp.json
Owners: @fuweid, @xinWeiWei24, @vittoriasalim, @wonderyl, @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Skip deleting resource for debugging (#668)
  steps/cleanup-resources.yml
  steps/terraform/run-command.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Update Pipeline Validator to disable BYO resource pipelines on Scheduled runs. (#684)
  modules/python/pipelines/pipelines.py
  modules/python/tests/test_pipelines.py
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Using 1 virtual nodes pool
  scenarios/perf-eval/apiserver-vn15kp200k/terraform-inputs/azure.tfvars
Owners: @fuweid, @xinWeiWei24, @vittoriasalim, @wonderyl, @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Consolidate API server benchmark 10 nodes 100 pods (#681)
  modules/terraform/gcp/gke/main.tf
  pipelines/perf-eval/API Server Benchmark/apiserver-benchmark-virtualnodes10-pods100-gcp.yml
  pipelines/perf-eval/API Server Benchmark/apiserver-benchmark-virtualnodes10-pods100.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira, @fuweid, @xinWeiWei24, @vittoriasalim, @wonderyl

Set up python packages for internal use (#650)
  .gitignore
  modules/python/pyproject.toml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Job Controller Benchmark: Scheduling 20,000 Jobs at 800 QPS (#667)
  modules/python/clusterloader2/kwok/config/config.yaml
  modules/python/clusterloader2/kwok/config/job_template.yaml
  modules/python/clusterloader2/kwok/kwok.py
  modules/python/kwok/config/kwok-node.yaml
  modules/python/kwok/kwok.py
  modules/python/tests/kwok/test_kwok_node.py
  pipelines/perf-eval/Scheduler Benchmark/job-scheduling.yml
  scenarios/perf-eval/job-scheduling/terraform-inputs/aws.tfvars
  scenarios/perf-eval/job-scheduling/terraform-inputs/azure.tfvars
  scenarios/perf-eval/job-scheduling/terraform-test-inputs/aws.json
  scenarios/perf-eval/job-scheduling/terraform-test-inputs/azure.json
  steps/engine/clusterloader2/kwok/collect.yml
  steps/engine/clusterloader2/kwok/execute.yml
  steps/engine/clusterloader2/kwok/validate.yml
  steps/topology/kwok/collect-clusterloader2.yml
  steps/topology/kwok/execute-clusterloader2.yml
  steps/topology/kwok/kwok-command/create.yml
  steps/topology/kwok/kwok-command/delete.yml
  steps/topology/kwok/kwok-command/validate.yml
  steps/topology/kwok/validate-resources.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira, @fuweid, @xinWeiWei24, @vittoriasalim, @wonderyl

Consolidate API server benchmark with 100 nodes 10k pods (#692)
  modules/terraform/gcp/gke/main.tf
  modules/terraform/gcp/gke/variables.tf
  modules/terraform/gcp/variables.tf
  pipelines/perf-eval/API Server Benchmark/apiserver-benchmark-virtualnodes100-pods10k-streaming.yml
  pipelines/perf-eval/API Server Benchmark/apiserver-benchmark-virtualnodes100-pods10k.yml
  scenarios/perf-eval/apiserver-vn100pod10k/terraform-inputs/aws.tfvars
  scenarios/perf-eval/apiserver-vn100pod10k/terraform-inputs/azure.tfvars
  scenarios/perf-eval/apiserver-vn100pod10k/terraform-inputs/gcp.tfvars
  scenarios/perf-eval/apiserver-vn100pod10k/terraform-test-inputs/gcp.json
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira, @fuweid, @xinWeiWei24, @vittoriasalim, @wonderyl

Remove Infra Setup Module (#682)
  README.md
  modules/terraform/setup/Makefile
  modules/terraform/setup/README.md
  modules/terraform/setup/infrastructure/infrastructure.tfvars
  modules/terraform/setup/infrastructure/main.tf
  modules/terraform/setup/infrastructure/variables.tf
  modules/terraform/setup/pipeline/main.tf
  modules/terraform/setup/pipeline/pipeline.tfvars
  modules/terraform/setup/pipeline/variables.tf
  modules/terraform/setup/table-data-connections/bash/script.sh
  modules/terraform/setup/table-data-connections/main.tf
  modules/terraform/setup/table-data-connections/result.json
  modules/terraform/setup/table-data-connections/table-data-connections.tfvars
  modules/terraform/setup/table-data-connections/variables.tf
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Revert "Using API-Server-Higher-CPU-Cores variable to run in 32-core underlay"
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Update modules/terraform/aws/tests/test_eks_auto_mode.tftest.hcl
  modules/terraform/aws/tests/test_eks_auto_mode.tftest.hcl
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Add AWS large Scale Autoscaler test (#722)
  modules/python/clusterloader2/autoscale/autoscale.py
  modules/python/tests/test_autoscale.py
  modules/terraform/aws/eks/cluster-autoscaler/main.tf
  pipelines/perf-eval/Autoscale Benchmark/cluster-autoscaler-benchmark .yml
  pipelines/perf-eval/Autoscale Benchmark/node-auto-provisioning-benchmark.yml
  scenarios/perf-eval/cluster-autoscaler/terraform-inputs/aws-1000nodes.tfvars
  scenarios/perf-eval/cluster-autoscaler/terraform-test-inputs/aws-1000nodes.json
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

change metric name
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Attempt at scaling the nodepool to 2100 nodes and 126K pods
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Add Windows2022 scenario for CRI benchmark
  modules/python/clients/kubernetes_client.py
  pipelines/perf-eval/CRI Benchmark/windows-resource-consume.yml
  scenarios/perf-eval/windows-resource-consume/terraform-inputs/azure.tfvars
  scenarios/perf-eval/windows-resource-consume/terraform-test-inputs/azure.json
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Attempting to test podsubnet AKS cluster numbers for pod latency
  pipelines/system/new-pipeline-test.yml
  scenarios/perf-eval/azure-cni-static-block/terraform-inputs/azure.tfvars
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Attempting to test pod latency measurements for podsubnet with Cilium
  modules/python/clusterloader2/slo/slo.py
  pipelines/system/new-pipeline-test.yml
  scenarios/perf-eval/azure-cni-static-block/terraform-inputs/azure.tfvars
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Updating numbers permissible for podsubnet clusters
  modules/python/clusterloader2/slo/slo.py
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

update
  modules/terraform/aws/eks/main.tf
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

update
  modules/terraform/aws/eks/main.tf
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Updated the tests to run for this mode
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Increasing the prometheus nodepool count to manage the higher nodepool count easily
  pipelines/system/new-pipeline-test.yml
  scenarios/perf-eval/azure-cni-static-block/terraform-inputs/azure.tfvars
  steps/topology/azure-cni-static-block/validate-resources.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Increasing the prometheus nodepool count to manage the higher nodepool count easily
  scenarios/perf-eval/azure-cni-static-block/terraform-inputs/azure.tfvars
  steps/topology/azure-cni-static-block/validate-resources.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

fixing clusterloader config and testing with small number of nodes
  modules/python/clusterloader2/slo/config/swiftv2_deployment_dynamicres_scale_config.yaml
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

enable all test cases and fix static res cl2 config
  modules/python/clusterloader2/slo/config/swiftv2_deployment_staticres_scale_config.yaml
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

fix: qps calculation type error
  modules/python/clusterloader2/slo/config/swiftv2_deployment_dynamicres_scale_config.yaml
  modules/python/clusterloader2/slo/config/swiftv2_deployment_staticres_scale_config.yaml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

rename to CLEANUP_RESOURCES
  steps/cleanup-resources.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

qps = steps
  modules/python/clusterloader2/slo/config/swiftv2_deployment_dynamicres_scale_config.yaml
  modules/python/clusterloader2/slo/config/swiftv2_deployment_staticres_scale_config.yaml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

qps = 1
  modules/python/clusterloader2/slo/config/swiftv2_deployment_dynamicres_scale_config.yaml
  modules/python/clusterloader2/slo/config/swiftv2_deployment_staticres_scale_config.yaml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

fix: go templating bugs
  modules/python/clusterloader2/slo/config/swiftv2_deployment_dynamicres_scale_config.yaml
  modules/python/clusterloader2/slo/config/swiftv2_deployment_staticres_scale_config.yaml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Add configuration for zfs-localpv
  modules/kustomize/fio/overlays/zfs-localpv/configuration/ds.yaml
  modules/kustomize/fio/overlays/zfs-localpv/configuration/kustomization.yaml
  modules/kustomize/fio/overlays/zfs-localpv/configuration/storageclass.yaml
  modules/kustomize/fio/overlays/zfs-localpv/deployment/kustomization.yaml
  modules/kustomize/fio/overlays/zfs-localpv/deployment/pvc.yaml
  modules/kustomize/fio/overlays/zfs-localpv/deployment/volumes.yaml
  scenarios/perf-eval/k8s-gpu-storage/terraform-inputs/azure.tfvars
  scenarios/perf-eval/k8s-os-disk/terraform-inputs/aws.tfvars
  scenarios/perf-eval/k8s-os-disk/terraform-inputs/azure-ephemeral.tfvars
  scenarios/perf-eval/k8s-os-disk/terraform-inputs/azure.tfvars
  steps/engine/fio/validate.yml
  steps/topology/k8s-os-disk/validate-resources.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Attempting load test on for static block
  pipelines/system/new-pipeline-test.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Add configuration for acstor-v2
  modules/kustomize/fio/overlays/acstor-v2/configuration/cert-manager-values.yaml
  modules/kustomize/fio/overlays/acstor-v2/configuration/cns-values.yaml
  modules/kustomize/fio/overlays/acstor-v2/configuration/kustomization.yaml
  modules/kustomize/fio/overlays/acstor-v2/configuration/storagepool.yaml
  modules/kustomize/fio/overlays/acstor-v2/deployment/kustomization.yaml
  modules/kustomize/fio/overlays/acstor-v2/deployment/volumes.yaml
  steps/engine/fio/validate.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Add unit tests for kubernetes_client
  modules/python/clients/kubernetes_client.py
  modules/python/tests/clients/test_docker_client.py
  modules/python/tests/clients/test_kubernetes_client.py
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira

Add yaml file and update ioengine
  modules/kustomize/fio/overlays/acstor-v2/configuration/cns-values.yaml
  modules/python/fio/fio.py
  pipelines/perf-eval/GPU Benchmark/k8s-gpu-storage.yml
Owners: @alyssa1303, @anson627, @sumanthreddy29, @rafael-mendes-pereira
